deb [signed-by=/usr/share/keyrings/armbian.asc] {{ source_url }} {{ source_suite }} {{ source_components|join(' ') }}
deb-src [signed-by=/usr/share/keyrings/armbian.asc] {{ source_url }} {{ source_suite }} {{ source_components|join(' ') }}
