deb [signed-by=/usr/share/keyrings/armbian.gpg] {{ source_url }} {{ source_suite }} {{ source_components|join(' ') }}
deb-src [signed-by=/usr/share/keyrings/armbian.gpg] {{ source_url }} {{ source_suite }} {{ source_components|join(' ') }}
